:root {
    --primary-color: #007BFF;
    --primary-color-hover: #0056b3;
    --bg-color: rgba(255, 255, 255, 0.9);
    --text-color: #333;
    --gradient-bg: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
}

/* General reset */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    background: var(--gradient-bg);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
